<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Assign Member</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>

<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully added user to the project
                </div>
            </div>
            <div th:if="${param.fail}">
                <div class="alert alert-danger">
                    <span th:text="${error}"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Assign Member</h2>
                </div>
                <div class="card-body">

                    <form class="row g-3"
                          th:action="@{/project/assign-member/add}"
                          method="post"
                          th:object="${projectMember}">
                        <div class="form-group mb-3">
                            <input type="text" hidden th:field="*{id}" th:value="${project.id}">
                            <label class="form-label">Project</label>
                            <select
                                    id="inputDepartment"
                                    name="department"
                                    class="form-select"
                                    th:field="*{project}">
                                <option th:value="${project.id}"
                                        th:text="${project.projectName}">
                                </option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">User
                            </label>
                            <select
                                    id="multiple-select"
                                    class="select"
                                    th:field="*{users}"
                                    multiple
                                    required >
                                <option
                                        th:each="user : ${users}"
                                        th:value="${user.id}"
                                        th:text="${user.fullName}"></option>
                            </select>
                        </div>

<!--                        <div class="form-check">-->
<!--                            <input type="checkbox" name="isLead" id="isLead">-->
<!--                            <label class="form-check-label" for="isLead">-->
<!--                                is Lead?-->
<!--                            </label>-->
<!--                        </div>-->

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Assign</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:replace="~{layout::navbar-js}"></script>
</body>
</html>