<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
          crossorigin="anonymous"></script>
  <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>

<br>
<br>
<div class="container">

  <div class="card">
    <div class="card-header">
      <h2 class="text-center"> Add a Project</h2>
    </div>
    <div th:if="${param.success}">
      <div class="alert alert-info">
        You have successfully created a Project
      </div>
    </div>
    <div th:if="${param.fail}">
      <div class="alert alert-danger">
        <span th:text="${error}"></span>
      </div>
    </div>
    <div class="card-body">
      <form class="row g-3"
            th:action="@{/project/create}"
            method="post"
            th:object="${project}">
        <div class="col-md-6">
          <label for="inputProjectName" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="inputProjectName" name="projectName" th:field="*{projectName}" required>
          <p th:errors="*{projectName}" class="text-danger"
             th:if="${#fields.hasErrors('projectName')}"></p>
        </div>

        <div class="col-md-6">
          <label for="inputProjectCode" class="form-label">Project Code</label>
          <input type="text" class="form-control" id="inputProjectCode" name="projectCode" th:field="*{projectCode}" required>
          <p th:errors="*{projectCode}" class="text-danger"
             th:if="${#fields.hasErrors('projectCode')}"></p>
        </div>

        <div class="col-md-6">
          <label for="inputEstimateDate" class="form-label">Estimated End date</label>
          <input type="date" class="form-control" id="inputEstimateDate" name="estimatedDueDate" th:field="*{estimatedDueDate}" required>
          <p th:errors="*{estimatedDueDate}" class="text-danger"
             th:if="${#fields.hasErrors('estimatedDueDate')}"></p>
        </div>
        <div class="col-md-6">
          <label class="form-label">Department</label>
          <select
                  id="inputDepartment"
                  name="department"
                  class="form-select"
                  th:field="*{department}">
            <option value="0">select option</option>
            <option
                    th:each="department : ${departments}"
                    th:value="${department.id}"
                    th:text="${department.departmentName}"></option>
          </select>
          <p th:errors="*{department}" class="text-danger"
             th:if="${#fields.hasErrors('department')}"></p>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>