<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member otd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{~/css/time.css}" rel="stylesheet">
    <style th:replace="~{layout::navbar-css}"></style>
</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<div class="container">
    <div class="row col-md-10">
        <h5><span th:text="${member.user.fullName}"></span></h5>
        Month: <span th:text="${master.month}"/>
        Year: <span th:text="${master.year}"/>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Logs</th>
            <th>Project</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${details}">
            <td th:text="${detail.date}"></td>
            <td th:text="${detail.logs}"></td>
            <td th:text="${detail.project.projectName}"></td>
            <td th:text="${detail.startTime}"></td>
            <td th:text="${detail.endTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>