<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>

<br>
<br>

<div class="container">
    <div class="row col-md-10">
        <h2>Projects</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <div th:if="${param.fail}">
            <div class="alert alert-danger" >
                <span th:text="${error}"></span>
            </div>
        </div>
        <tr>
            <th>Project Name</th>
            <th>Project Code</th>
            <th>Estimated End Date</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectName}"></td>
            <td th:text="${project.projectCode}"></td>
            <td th:text="${project.estimatedDueDate}"></td>
            <td th:text="${project.department.departmentName}"></td>
            <td>

                <a th:href="@{'/project/project-member/' +${project.id}}"
                   class="btn btn-info">View Member</a>

                <a th:if="${user.isAdmin()}" class="btn btn-primary"
                   th:href="@{'/project/update-project/'+${project.id}}">Update</a>

                <a th:if="${user.isAdmin()}" th:href="@{'/project/delete/'+${project.id}}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>


        </tbody>
        <tfoot th:if="${user.isAdmin()}">
            <a class="btn btn-primary" th:href="@{/project/create-project}">Create Project</a>
        </tfoot>
    </table>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>