<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Project Member</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<br/><br/>

<div class="container" >
    <div class="row col-md-10">
        <h2>Project Members</h2>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-info">
            <span th:text="${msg}"></span>
        </div>
    </div>
    <div th:if="${param.fail}">
        <div class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th class="th-sm">Project
            </th>
            <th class="th-sm">Member
            </th>
            <th class="th-sm">is Lead
            </th>
            <th class="th-sm"> Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="projectMember : ${projectMembers}">
            <td th:text="${projectMember.project.projectName}"></td>
            <td th:text="${projectMember.user.fullName}"></td>
            <td th:text="${projectMember.isLead}"></td>
            <td>
                <a th:if="${user.isAdmin()}" th:href="@{'/project/project-member/'+${project.id}+'/is-lead/'+${projectMember.id}}" class="btn btn-info">Assign Lead</a>
                <a th:if="${user.isAdmin()} or ${lead.user.id==user.id}" th:href="@{'/project/project-member/'+${project.id}+'/view-otd/'+${projectMember.id}}" class="btn btn-primary">View OTD</a>

                <a th:if="${user.isAdmin()}" th:href="@{'/project/project-member/'+${project.id}+'/remove-member/'+${projectMember.id}}" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <a  th:if="${user.isAdmin()}" class="btn btn-primary"  th:href="@{'/project/assign-member/' +${project.id}}" >Assign Member</a>
        </tfoot>
    </table>
</div>

<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>