<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>

<br>
<br>
<div class="container">
<div class="card">
    <div class="card-header">
        <h2 class="text-center">Update Project</h2>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-info">
            You have successfully updated the Project
        </div>
    </div>
    <div th:if="${param.fail}">
        <div class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>
    </div>
    <div class="card-body">
        <form class="row g-3"
              id="updatePopUpForm"
              th:action="@{/project/update-project}"
              method="post"
              th:object="${project}">
            <input type="text" hidden th:field="*{id}" th:value="${project.id}">
            <div class="col-md-6">
                <label for="updateProjectName" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="updateProjectName" name="projectName"
                       th:value="${project.projectName}" required>
            </div>

            <div class="col-md-6">
                <label for="updateProjectCode" class="form-label">Project Code</label>
                <input type="text" class="form-control" id="updateProjectCode" name="projectCode"
                       th:value="${project.projectCode}" required>
            </div>

            <div class="col-md-6">
                <label for="updateEstimateDate" class="form-label">Estimated End date</label>
                <input type="date" class="form-control" id="updateEstimateDate" name="estimatedDueDate"
                       th:value="${project.estimatedDueDate}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Department: <span th:text="${project.department.departmentName}"></span></label>
                <select
                        id="inputDepartment"
                        name="department"
                        class="form-select"
                        th:field="*{department}">
                    <option  th:value="${department.id}"
                             th:text="${department.departmentName}">
                    </option>

                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary" >Update
                </button>
            </div>
        </form>
    </div>
</div>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>