<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{~/css/time.css}" rel="stylesheet">
    <style th:replace="~{layout::navbar-css}"></style>
</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You have successfully added log
                    </div>
                </div>
                <div th:if="${param.fail}">
                    <div class="alert alert-danger">
                        <span th:text="${error}"></span>
                    </div>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/over-time-detail/add}"
                            class="form-horizontal"
                            th:object="${overTimeDetail}">

                        <div class="col-md-6">
                            <label for="inputLog" class="form-label">Log</label>
                            <input type="text" class="form-control" id="inputLog" th:field="*{logs}" required>
                            <p th:errors="*{logs}" class="text-danger"
                               th:if="${#fields.hasErrors('logs')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Project</label>
                            <select
                                    id="inputProject"
                                    class="form-select"
                                    th:field="*{project}"
                                    required>
                                <option value="0">select option</option>
                                <option
                                        th:each="project : ${projects}"
                                        th:if="${project.projectMembers}==${principal}"
                                        th:value="${project.id}"
                                        th:text="${project.projectName}"
                                ></option>
                            </select>
                            <p th:errors="*{project}" class="text-danger"
                               th:if="${#fields.hasErrors('project')}"></p>
                        </div>

                        <div class="col-md-6">
                            <label for="inputStartTime" class="form-label">Start Time:</label>
                            <input type="time" class="form-control" id="inputStartTime" th:field="*{startTime}" required>
                            <p th:errors="*{startTime}" class="text-danger"
                               th:if="${#fields.hasErrors('startTime')}"></p>
                        </div>

                        <div class="col-md-6">
                            <label for="inputEndTime" class="form-label">End Time:</label>
                            <input type="time" class="form-control" id="inputEndTime" th:field="*{endTime}" required>
                            <p th:errors="*{endTime}" class="text-danger"
                               th:if="${#fields.hasErrors('endTime')}"></p>
                        </div>



                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>
<script th:replace="~{layout::navbar-js}"></script>
</body>
</html>