<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<br>
<br>
<div class="container" th:if="${user.isAdmin()}">

    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Add a department</h2>
        </div>
        <div th:if="${session.msg}">
            <h5 class="text-center text-success" th:text="${session.msg}"></h5>
            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                You have successfully added a new Department!
            </div>
        </div>
        <div th:if="${param.fail}">
            <div class="alert alert-danger" >
                <span th:text = "${error}"></span>
            </div>
        </div>
        <div class="card-body">
            <form class="row g-3"
                  th:action="@{/department/create}"
                  method="post"
                  th:object="${department}">
                <div class="col-md-6">
                    <label for="inputDepartmentName" class="form-label">Department Name</label>
                    <input type="text" class="form-control" id="inputDepartmentName" , th:field="*{departmentName}" required>
                    <p th:errors="*{departmentName}" class="text-danger"
                       th:if="${#fields.hasErrors('departmentName')}"></p>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br>

<div class="container">
    <div class="row col-md-10">
        <h2>List of Departments</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Department Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td  th:value="${department.id}" th:text="${department.departmentName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</body>
</html>