<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<br>
<div class="container">
    <div class="row col-md-10">
        <h2>Overtime Masters</h2>
    </div>
    <div th:if="${param.success}">
        <div class="alert alert-info" >
            <span th:text="${msg}"></span>
        </div>
    </div>
    <div th:if="${param.fail}">
        <div class="alert alert-danger" >
            <span th:text="${error}"></span>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Month</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="master : ${overTimeMasterList}">
            <td th:text="${master.month}"></td>
            <td th:text="${master.year}"></td>
            <td>
                <a th:href="@{'/master/view-detail/' +${master.id}}" class="btn btn-primary">View All</a>
                <span>/</span>
                <a  class="btn btn-info"  th:href="@{'/master/export-detail/'+${master.id}}" >Export</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>