<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OverTime Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<div class="container">
    <div class="row col-md-10">
        <h3>OverTime Detail</h3>
        Month: <span th:text="${overTimeMaster.month}"/>
        Year: <span th:text="${overTimeMaster.year}"/>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Logs</th>
            <th>Project</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="overTimeDetail : ${overTimeDetails}">
            <td th:text="${overTimeDetail.date}"></td>
            <td th:text="${overTimeDetail.logs}"></td>
            <td th:text="${overTimeDetail.project.projectName}"></td>
            <td th:text="${overTimeDetail.startTime}"></td>
            <td th:text="${overTimeDetail.endTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>