<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<br/><br/><br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered our app!
                </div>
            </div>
            <div th:if="${param.fail}">
                <div class="alert alert-danger" >
                    <span th:text="${error}"></span>
                </div>
            </div>
            <div class="card-body">
                <form
                        name="registration"
                        method="post"
                        role="form"
                        onsubmit="return validateform()"
                        th:action="@{/register/save}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Full Name</label>
                        <input
                                class="form-control"
                                id="inputFullName"
                                name="firstName"
                                placeholder="Enter full name"
                                th:field="*{fullName}"
                                type="text"
                                required
                        />
                        <p th:errors="*{fullName}" class="text-danger"
                           th:if="${#fields.hasErrors('fullName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input
                                class="form-control"
                                id="inputMobileNumber"
                                name="mobileNumber"
                                placeholder="Enter Mobile Number"
                                pattern="[9]{1}[0-9]{9}"
                                th:field="*{mobileNumber}"
                                type="text"
                                required
                        />
                        <p th:errors="*{mobileNumber}" class="text-danger"
                           th:if="${#fields.hasErrors('mobileNumber')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Designation</label>
                        <input
                                class="form-control"
                                id="inputDesignation"
                                name="mobileNumber"
                                placeholder="Enter Designation"
                                th:field="*{designation}"
                                type="text"
                                required
                        />
                        <p th:errors="*{designation}" class="text-danger"
                           th:if="${#fields.hasErrors('designation')}"></p>
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter email address"
                                th:field="*{email}"
                                type="email"
                                required
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Department</label>
                        <select
                                id="inputDepartment"
                                class="form-select" ,
                                th:field="*{department}"
                                required>
                            <option value="0">select option</option>
                            <option
                                    th:each="department : ${departments}"
                                    th:value="${department.id}"
                                    th:text="${department.departmentName}"></option>
                        </select>
                        <p th:errors="*{department}" class="text-danger"
                           th:if="${#fields.hasErrors('department')}"></p>

                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                                required
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function validateform(){
        var num=document.registration.mobileNumber.value;
        var phoneno = /^\d{10}$/;
        if(num.value.match(phoneno))
        {
            return true;
        }
        else
        {
            alert("Please enter valid Mobile Number");
            return false;
        }

        var x=document.registration.email.value;
        var atposition=x.indexOf("@");
        var dotposition=x.lastIndexOf(".");
        if (atposition<1 || dotposition<atposition+2 || dotposition+2>=x.length){
            alert("Please enter a valid e-mail address");
            return false;
        } else{
            return true;
        }
    }
</script>
</body>
</html>