<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style th:replace="~{layout::navbar-css}"></style>

</head>
<body>
<nav th:replace="~{layout::navbar}"></nav>
<div class="container" th:if="${user.isAdmin()}">
    <div class="row col-md-10">
        <h2>List of Registered Users</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Full Name</th>
            <th>Mobile Number</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Department</th>
            <th>Role</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.fullName}"></td>
            <td th:text = "${user.mobileNumber}"></td>
            <td th:text = "${user.designation}"></td>
            <td th:text = "${user.email}"></td>
            <td th:text = "${user.department.departmentName}"></td>
            <td th:text = "${user.role}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="~{layout::navbar-js}"></script>

</body>
</html>